:root {
    --gray: #717568;
    --blue: #6faae5;
    --yellow: #ebb429;
    --green: #3dcb5c;
    --red: #e34e28;
    --black: #111;
    --white: #f9f9f9;

    /* Testing */
    --gunmetal: #022B3A;
    --gray-blue: #77a;
    --teal: #1F7A8C;
    --light-blue: #BFDBF7;
    --light-purple: #e1e5f2;
    --lighter-purple: #f0f2f8;
}



html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 0.15rem;
}

button {
    padding: 0.5rem;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
}

button:hover {
    cursor: pointer;
}

body {
    margin: 0 2rem;
    overflow: hidden;
}

#background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--light-purple);
    opacity: 0.8;
    background-image:  radial-gradient(var(--gray-blue) 0.75px, transparent 0.75px), radial-gradient(var(--gray-blue) 0.75px, var(--light-purple) 0.75px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
}

header {
    padding: 1rem 5%;
    border: 0.125rem solid var(--black);
    border-radius: 0 0 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    background-color: var(--lighter-purple);
    box-shadow: 0 0 0.25rem var(--light-purple);
}

header h1 {
    font-size: xx-large;
}

header h3 {
    justify-self: center;
}

header div.room-buttons {
    display: flex;
    gap: 1rem;
}

header button {
    color: var(--white);
    background-color: var(--gunmetal);
}

/* -------- Disabling increment and decrement arrows is achieved diffrently on diffrent browsers -------- */
/* On Chrome, Safari, Edge, Opera */
header input::-webkit-outer-spin-button,
header input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* On Firefox */
header input[type=number] {
  appearance: textfield;
}

header input[type=number] {
    background-color: var(--lighter-purple);
}

header div.room-buttons input {
    margin-left: -0.5rem;
}

div.timer {
    justify-self: center;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: x-large;
}

div.timer p {
    margin: 0;
}

div.timer > *:first-child {
    margin-right: 0.75rem;
}

main {
    perspective: 600px;
}

#table {
    width: 65%;
    height: 30rem;
    border: 10px solid var(--gunmetal);
    border-radius: 3rem;
    margin: 0 auto;
    transform: rotate3d(1, 0, 0, 40deg);
    background-image: url(./images/table-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 12rem;
}

div.hand {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.75rem;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0.25rem);
}

#opponent-hand {
    display: flex;
    flex-direction: row; /* Ensure items are laid out in a row */
    align-items: center; /* Vertically center the content */
    justify-content: flex-start; /* Move the content to the left */
    gap: 0.75rem; /* Add some space between elements */
    position: fixed;
    top: 3rem;
    left: calc(50% + 0rem); /* Adjust the left position */
    transform: translateX(-50%);
}

#player-hand {
    display: flex;
    flex-direction: row; /* Ensure items are laid out in a row */
    align-items: center; /* Vertically center the content */
    justify-content: flex-end; /* Move the content to the right */
    gap: 0.75rem; /* Add some space between elements */
    position: fixed;
    bottom: -24rem;
    left: calc(50% + 0rem); /* Adjust the left position */
    transform: translateX(-50%);
}

div.card {
    height: 6rem;
    width: 4rem;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
    background-color: var(--blue);
}

#opponent-draw-pile {
    /* Add styles to position to the left of the opponent's hand */
    position: fixed;
    top: 3rem;
    left: calc(50% - 15rem); /* Adjust the left position */
    transform: translateX(-50%);
}

#player-draw-pile {
    /* Add styles to position to the right of the player's hand */
    position: fixed;
    bottom: -29.8rem;
    left: calc(50% + 15rem); /* Adjust the left position */
    transform: translateX(-50%);
}

p.bets {
    font-size: xxx-large;
    font-weight: bold;
    margin-top: 0;
}

#opponent-bets {
    position: fixed;
    left: calc(50% + 35rem);
    transform: translateX(-50%);
}

#player-bets {
    position: fixed;
    left: calc(50% - 35rem);
    transform: translateX(-50%);
}

.draw-pile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

div.draw-pile .card {
    box-shadow: none;
}
.cards:nth-child(2) {
    z-index: 1;
}
.cards:nth-child(3) {
    z-index: 2;
}
.cards:nth-child(4) {
    z-index: 3;
}
.cards:nth-child(5) {
    z-index: 4;
}

.cards-2 {
    display: grid;
    grid-template-rows: 6px 1fr;
    
}
.cards-3 {
    display: grid;
    grid-template-rows: 6px 6px 1fr;
}
.cards-4 {
    display: grid;
    grid-template-rows: 6px 6px 6px 1fr;
}
.cards-5 {
    display: grid;
    grid-template-rows: 6px 6px 6px 6px 1fr;
}

p.card-count {
    font-size: x-large;
    font-weight: bold;
    margin-top: 0;
}

.hidden {
    display: none;
}